<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Data de nascimento:</strong>
  <%= @student.birth_date %>
</p>

<p>
  <strong>Cidade de nascimento:</strong>
  <%= @student.place_of_birth %>
</p>

<p>
  <strong>Ano letivo:</strong>
  <%= @student.school_year %>
</p>

<p>
  <strong>Data de início:</strong>
  <%= @student.start_date %>
</p>

<p>
  <strong>Outro comportamento:</strong>
  <%= @student.another_behavior %>
</p>

<%= link_to 'Editar', edit_student_path(@student) %> |
<%= link_to 'Voltar', students_path %>
