<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @responsible.name %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @responsible.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @responsible.cpf %>
</p>

<p>
  <strong>Schooling:</strong>
  <%= @responsible.schooling %>
</p>

<%= link_to 'Edit', edit_responsible_path(@responsible) %> |
<%= link_to 'Back', responsibles_path %>
